/*-----------------------*/
/* Contest

1. General styles:

2.

/*-----------------------*/
/*---------------------*/
/*   1. General styles
/*---------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden; }

ul, li {
  list-style: none; }

body {
  font-family: Arial; }

.container {
  width: 1080px;
  margin: 0 auto; }

.title--grey-bg {
  padding: 10px 0;
  background-color: #C2C4C4;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  color: #fff; }

.title-blue {
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
  color: #00BE9A; }

/*---------------------*/
/*   2. Header
/*---------------------*/
header {
  padding: 20px 0;
  background-color: #00BC9A; }

.header-menu {
  float: left;
  margin-top: 3px; }
  .header-menu li {
    display: inline-block;
    margin-right: 30px; }
    .header-menu li:first-of-type a {
      display: block;
      width: 20px;
      height: 15px;
      background: url("../images/icon-home.png");
      background-size: contain; }
  .header-menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff; }
    .header-menu a:hover {
      text-decoration: underline; }

.header-links {
  float: right; }

.header-social {
  float: right; }
  .header-social li {
    display: inline-block;
    margin-right: 20px;
    width: 20px;
    height: 20px; }
    .header-social li a {
      display: block;
      width: 100%;
      height: 100%; }
    .header-social li:last-of-type {
      margin-right: 0; }

.header-social__vk {
  background: url("../images/icon-vk.png") center no-repeat;
  background-size: contain; }

.header-social__fb {
  background: url("../images/icon-fb.png") center no-repeat;
  background-size: contain; }

.header-callback {
  float: left;
  margin-right: 50px;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none; }

/*---------------------*/
/*   3. Section 1
/*---------------------*/
.section-1 {
  height: 600px;
  padding-top: 30px;
  background: url("../images/bg-top.png") center no-repeat; }
  .section-1 .container {
    position: relative;
    height: 100%; }

.section-1__phones {
  font-size: 14px; }
  .section-1__phones span {
    font-size: 22px; }

.section-1__text {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  width: 750px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase; }

.section-1__logo {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background: url("../images/logo.png") no-repeat;
  background-size: contain; }

.section-1__logo-butterfly {
  position: absolute;
  top: 280px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 130px;
  height: 80px;
  background: url("../images/butterfly.png") no-repeat;
  background-size: contain;
  -webkit-animation: butterfly 1s ease-in-out;
  animation: butterfly 1s ease-in-out; }

@-webkit-keyframes butterfly {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  33% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }
  66% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes butterfly {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  33% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }
  66% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

/*---------------------*/
/*   4. Section 2
/*---------------------*/
.section-2 {
  padding: 50px 0 70px;
  background: url("../images/separator-black.png") top repeat-x; }

.section-2__cols {
  display: table;
  margin-top: 50px; }

.section-2__col {
  position: relative;
  display: table-cell;
  width: 33.3%;
  padding: 0 20px 50px;
  border-right: 2px solid #00BC9A;
  text-align: center; }
  .section-2__col:last-of-type {
    border-right: 0; }
  .section-2__col h1 {
    margin: 20px 0;
    font-size: 22px;
    text-transform: uppercase;
    color: #00BC9A; }

.section-2-col__download {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center; }
  .section-2-col__download a {
    color: #00BC9A;
    text-decoration: underline; }

.section-2-col__img-wrap {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border: 2px solid #80838F;
  border-radius: 50%; }

/*---------------------*/
/*   5. Section 3
/*---------------------*/
.section-3 {
  height: 650px;
  padding-top: 50px;
  background: url("../images/bg-lamps.png") no-repeat; }

.section-3__text {
  line-height: 50px;
  text-align: right;
  text-transform: uppercase;
  font-size: 28px;
  color: #fff; }

/*---------------------*/
/*   6. Section 4
/*---------------------*/
.section-4 {
  padding: 50px 0;
  background: url("../images/separator-grey.png") top repeat-x; }

/*---------------------*/
/*   7. Section 5
/*---------------------*/
.section-5 {
  padding: 50px 0;
  background-color: #00BE9A;
  color: #fff; }
  .section-5 h1 {
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px; }
  .section-5 li {
    display: table;
    margin-top: 20px; }
    .section-5 li div:first-of-type {
      display: table-cell;
      vertical-align: top; }
      .section-5 li div:first-of-type span {
        display: block;
        padding: 15px 20px;
        border: 1px solid #fff;
        border-radius: 50%; }
    .section-5 li div:last-of-type {
      display: table-cell;
      padding-left: 30px;
      font-size: 18px; }

/*---------------------*/
/*   8. Section 6
/*---------------------*/
.section-6 {
  height: 600px;
  background: url("../images/bg-fireplace.png") no-repeat; }
  .section-6 .container {
    position: relative; }

.section-6__top-separator {
  height: 15px;
  background: url("../images/separator-green.png") repeat-x; }

.section-6__text {
  position: absolute;
  top: 50px;
  right: 0;
  text-align: center;
  color: #fff;
  line-height: 40px;
  font-size: 30px; }

/*---------------------*/
/*   9. Section 7
/*---------------------*/
.section-7 {
  padding: 50px 0; }
  .section-7 h1 {
    margin-bottom: 50px; }

.galery-slider {
  width: 100%;
  overflow: hidden; }

.galery-slider__slides {
  width: 10000px; }

.galery-slider__slide {
  float: left; }

.galery-slider__slide-hover {
  display: none; }

/*---------------------*/
/*   10. Section 8
/*---------------------*/
.section-8 {
  padding: 30px 0 50px; }

.specials {
  margin-top: 50px; }

.specials-tabs {
  float: left;
  width: 40%; }
  .specials-tabs li {
    position: relative;
    padding-left: 10%;
    height: 100px;
    line-height: 100px;
    border-top: 2px solid #C2C4C4;
    box-sizing: border-box;
    cursor: pointer; }
    .specials-tabs li:after {
      content: '>';
      position: absolute;
      right: 40px;
      color: #C2C4C4; }
    .specials-tabs li.active {
      background-color: #00BC9A;
      color: #FFF; }
      .specials-tabs li.active:after {
        color: #FFF; }
    .specials-tabs li:last-of-type {
      border-bottom: 2px solid #C2C4C4; }

.specials-contents {
  float: left;
  width: 60%;
  height: 300px; }

.specials-content {
  position: relative;
  width: 100%;
  height: 100%; }
  .specials-content h1 {
    position: absolute;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 32px; }
  .specials-content a {
    display: block;
    width: 150px;
    margin: 0 auto;
    padding: 10px 0;
    background-color: #00BC9A;
    color: #fff;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.specials-content__link-wrap {
  position: absolute; }

.specials-content._wedding {
  background: url("../images/bg-specials/bg-specials-wedding.png");
  background-size: cover; }
  .specials-content._wedding h1 {
    top: 100px;
    width: 100%; }
  .specials-content._wedding .specials-content__link-wrap {
    position: absolute;
    top: 230px;
    left: 0;
    width: 100%; }

.specials-content._rent-hall {
  background: url("../images/bg-specials/bg-specials-rent.png");
  background-size: cover; }
  .specials-content._rent-hall h1 {
    top: 100px;
    width: 80%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 78%, transparent 100%); }
  .specials-content._rent-hall .specials-content__link-wrap {
    position: absolute;
    top: 230px;
    left: 0;
    width: 80%; }

.specials-content._discount {
  background: url("../images/bg-specials/bg-specials-discount.png");
  background-size: cover; }
  .specials-content._discount h1 {
    top: 100px;
    width: 80%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 78%, transparent 100%); }
  .specials-content._discount .specials-content__link-wrap {
    position: absolute;
    top: 230px;
    left: 0;
    width: 80%; }

/*---------------------*/
/*   11. Section 9
/*---------------------*/
.section-9 {
  height: 500px;
  background: url("../images/bg-hall/bg-hall.png"); }
  .section-9[data-bg="_birthday"] {
    background: url("../images/bg-hall/bg-hall-birthday.png"); }
  .section-9[data-bg="_business"] {
    background: url("../images/bg-hall/bg-hall-business.png"); }
  .section-9[data-bg="_new-year"] {
    background: url("../images/bg-hall/bg-hall-new-year.png"); }
  .section-9[data-bg="_party"] {
    background: url("../images/bg-hall/bg-hall-party.png"); }
  .section-9[data-bg="_wedding"] {
    background: url("../images/bg-hall/bg-hall-wedding.png"); }

.section-9-list {
  position: relative;
  height: 100%;
  width: 400px;
  margin: 0 auto;
  padding-top: 150px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  box-sizing: border-box; }
  .section-9-list h1 {
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #00BC9A; }
  .section-9-list ul {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    margin: 0 auto; }
  .section-9-list li {
    display: block;
    padding: 17px 0;
    border-bottom: 1px solid #00BC9A;
    text-align: center;
    text-transform: uppercase;
    color: #fff; }
    .section-9-list li:last-of-type {
      border-bottom: 0; }
    .section-9-list li:hover, .section-9-list li.active {
      color: #00BC9A; }

/*---------------------*/
/*   12. Section 10
/*---------------------*/
.section-10 {
  padding: 50px 0 70px;
  width: 95%;
  margin: auto; }
  .section-10 .bx-wrapper .bx-controls-direction a {
    height: 110px;
    width: 55px; }
  .section-10 .bx-wrapper .bx-next {
    background: url("../images/slider-next.png") no-repeat; }
    .section-10 .bx-wrapper .bx-next:hover {
      background: url("../images/slider-next-hover.png") no-repeat; }
  .section-10 .bx-wrapper .bx-prev {
    background: url("../images/slider-prev.png") no-repeat; }
    .section-10 .bx-wrapper .bx-prev:hover {
      background: url("../images/slider-prev-hover.png") no-repeat; }
  .section-10 .bx-wrapper .bx-viewport {
    width: 900px !important;
    margin: auto;
    height: auto !important; }

.clients-slider {
  margin-top: 30px; }

.clients-slider__item {
  display: table;
  width: 100%; }

.clients-slider__photo {
  display: table-cell;
  vertical-align: top; }

.clients-slider__photo-wrap {
  position: relative;
  width: 150px;
  height: 150px;
  border: 1px solid #828692;
  border-radius: 50%;
  overflow: hidden; }
  .clients-slider__photo-wrap img {
    position: absolute;
    left: -20%;
    height: 100%; }

.clients-slider__content {
  display: table-cell;
  vertical-align: top;
  padding-left: 30px; }

.clients-slider__name {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 20px;
  color: #00BE9A; }

.clients-slider__text {
  font-style: italic;
  font-size: 14px; }

.clients-slider__date {
  margin-top: 10px;
  text-align: right;
  font-size: 14px; }

/*---------------------*/
/*   13. Section 11
/*---------------------*/
.section-11 {
  position: relative;
  height: 500px;
  padding: 130px 0 0 0;
  background: url("../images/bg-bottom.png") no-repeat;
  background-size: cover; }
  .section-11 h1 {
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    font-size: 50px;
    line-height: 60px; }
  .section-11 .blue-btn {
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center; }
    .section-11 .blue-btn a {
      display: inline-block;
      padding: 15px 50px;
      background-color: #00BE9A;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      font-size: 18px; }

/*---------------------*/
/*   14. Footer
/*---------------------*/
footer {
  padding: 50px 0;
  background: url("../images/separator-grey.png") repeat-x; }
  footer h1.title--grey-bg {
    margin-bottom: 50px; }

.footer-info {
  margin-top: 30px; }

.footer__visit-us,
.footer__contact-us {
  float: left;
  margin-right: 50px; }
  .footer__visit-us h1,
  .footer__contact-us h1 {
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #00BE9A; }

.footer-logo {
  float: right;
  margin-right: 200px; }

.footer-map {
  margin-top: 30px;
  border: 2px solid #C2C4C4;
  border-radius: 5px; }
