/*-----------------------*/
/* Contest

1. General styles:

2.

/*-----------------------*/

/*---------------------*/
/*   1. General styles
/*---------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
  }
}

ul, li { list-style: none; }

/* font-family: "LatoRegular"; */
@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoRegular/LatoRegular.eot");
    src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoRegular/LatoRegular.woff") format("woff"),
    url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoBold"; */
@font-face {
    font-family: "LatoBold";
    src: url("../fonts/LatoBold/LatoBold.eot");
    src: url("../fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoBold/LatoBold.woff") format("woff"),
    url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoItalic"; */
@font-face {
    font-family: "LatoItalic";
    src: url("../fonts/LatoItalic/LatoItalic.eot");
    src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoItalic/LatoItalic.woff") format("woff"),
    url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoLight"; */
@font-face {
    font-family: "LatoLight";
    src: url("../fonts/LatoLight/LatoLight.eot");
    src: url("../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoLight/LatoLight.woff") format("woff"),
    url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoBoldItalic"; */
@font-face {
    font-family: "LatoBoldItalic";
    src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot");
    src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"),
    url("../fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoLightItalic"; */
@font-face {
    font-family: "LatoLightItalic";
    src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
    src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"),
    url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html, body { font-family: 'LatoLight'; }

.container {
  width: 1080px;
  margin: 0 auto;
}

.title--grey-bg {
  padding: 10px 0;
  background-color: #C2C4C4;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  color: #fff;
}

.title-blue {
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
  color: #00BE9A;
}

/*---------------------*/
/*   2. Header
/*---------------------*/

header {
  padding: 20px 0;
  background-color: #00BC9A;
}

.header-menu {
  float: left;
  margin-top: 3px;

  li {
    display: inline-block;
    margin-right: 30px;

    &:first-of-type {
      a {
        display: block;
        width: 20px;
        height: 15px;
        background: url('../images/icon-home.png');
        background-size: contain;
      }
    }
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header-links {
  float: right;
}

.header-social {
  float: right;

  li {
    display: inline-block;
    margin-right: 20px;
    width: 20px;
    height: 20px;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.header-social__vk {
  background: url('../images/icon-vk.png') center no-repeat;
  background-size: contain;
}
.header-social__fb {
  background: url('../images/icon-fb.png') center no-repeat;
  background-size: contain;
}

.header-callback {
  float: left;
  margin-right: 50px;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

/*---------------------*/
/*   3. Section 1
/*---------------------*/

.section-1 {
  height: 600px;
  padding-top: 30px;
  background: url('../images/bg-top.png') center no-repeat;

  .container {
    position: relative;
    height: 100%;
  }
}

.section-1__phones {
  font-size: 14px;

  span {
    font-size: 22px;
    font-family: LatoRegular;
  }
}

.section-1__text {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  width: 750px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}

.section-1__logo {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background: url('../images/logo.png') no-repeat;
  background-size: contain;
}

.section-1__logo-butterfly {
  position: absolute;
  top: 280px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 130px;
  height: 80px;
  background: url('../images/butterfly.png') no-repeat;
  background-size: contain;

  animation: butterfly 1.5s ease-in-out;
}

@keyframes butterfly {
  from {transform: rotate(0deg);}
  25% {transform: rotate(0deg);}
  50% {transform: rotate(8deg);}
  75% {transform: rotate(-8deg);}
  to {transform: rotate(0deg);}
}

/*---------------------*/
/*   4. Section 2
/*---------------------*/

.section-2 {
  padding: 50px 0 70px;
  background: url('../images/separator-black.png') top repeat-x;
}

.section-2__cols {
  display: table;
  margin-top: 50px;
}

.section-2__col {
  position: relative;
  display: table-cell;
  width: 33.3%;
  padding: 0 20px 50px;
  border-right: 2px solid #00BC9A;
  text-align: center;

  &:last-of-type {
    border-right: 0;
  }

  h1 {
    margin: 20px 0;
    font-size: 22px;
    text-transform: uppercase;
    color: #00BC9A;
  }
}

.section-2-col__download {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;

  a {
    color: #00BC9A;
    text-decoration: underline;
  }
}

.section-2-col__img-wrap {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border: 2px solid #80838F;
  border-radius: 50%;
}

/*---------------------*/
/*   5. Section 3
/*---------------------*/

.section-3 {
  height: 650px;
  padding-top: 50px;
  background: url('../images/bg-lamps.png') no-repeat;
}

.section-3__text {
  line-height: 50px;
  text-align: right;
  text-transform: uppercase;
  font-size: 28px;
  color: #fff;
  text-shadow: -1px 3px rgba(0,0,0,0.3);
}

/*---------------------*/
/*   6. Section 4
/*---------------------*/

.section-4 {
  padding: 50px 0;
  background: url('../images/separator-grey.png') top repeat-x;
}

/*---------------------*/
/*   7. Section 5
/*---------------------*/

.section-5 {
  padding: 50px 0;
  background-color: #00BE9A;
  color: #fff;

  h1 {
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
  }

  li {
    display: table;
    margin-top: 20px;

    div:first-of-type {
      display: table-cell;
      vertical-align: top;

      span {
        display: block;
        padding: 15px 20px;
        border: 1px solid #fff;
        border-radius: 50%;
      }
    }

    div:last-of-type {
      display: table-cell;
      padding-left: 30px;
      font-size: 18px;
    }
  }
}

/*---------------------*/
/*   8. Section 6
/*---------------------*/

.section-6 {
  height: 600px;
  background: url('../images/bg-fireplace.png') no-repeat;

  .container {
    position: relative;
  }
}

.section-6__top-separator {
  height: 15px;
  background: url('../images/separator-green.png') repeat-x;
}

.section-6__text {
  position: absolute;
  top: 50px;
  right: 0;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-size: 34px;
  text-shadow: -1px 3px rgba(0,0,0,0.3);
}

/*---------------------*/
/*   9. Section 7
/*---------------------*/

.section-7 {
  padding: 50px 0;

  h1 {
    margin-bottom: 50px;
  }
}

.galery-slider {
  width: 100%;
  overflow: hidden;
}

.galery-slider__slides {
  width: 10000px;
}

.galery-slider__slide {
  float: left;
}

.galery-slider__slide-hover {
  display: none;
}

/*---------------------*/
/*   10. Section 8
/*---------------------*/

.section-8 {
  padding: 30px 0 50px;
}

.specials {
  margin-top: 50px;
}

.specials-tabs {
  float: left;
  width: 40%;

  li {
    position: relative;
    padding-left: 10%;
    height: 100px;
    line-height: 100px;
    border-top: 2px solid #C2C4C4;
    box-sizing: border-box;
    cursor: pointer;

    &:after {
      content: '>';
      position: absolute;
      right: 40px;
      color: #C2C4C4;
    }

    &.active {
      background-color: #00BC9A;
      color: #FFF;

      &:after {;
        color: #FFF;
      }
    }

    &:last-of-type {
      border-bottom: 2px solid #C2C4C4;
    }
  }
}

.specials-contents {
  float: left;
  width: 60%;
  height: 300px;
}

.specials-content {
  position: relative;
  width: 100%;
  height: 100%;

  h1 {
    position: absolute;
    padding: 10px 0;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: normal;
    line-height: 32px;
  }

  a {
    display: block;
    width: 150px;
    margin: 0 auto;
    padding: 10px 0;
    background-color: #00BC9A;
    color: #fff;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }
}

.specials-content__link-wrap {
  position: absolute;
}

.specials-content._wedding {
  background: url('../images/bg-specials/bg-specials-wedding.png');
  background-size: cover;

  h1 {
    top: 100px;
    width: 100%;
  }

  .specials-content__link-wrap {
    position: absolute;
    top: 230px;
    left: 0;
    width: 100%;
  }
}

.specials-content._rent-hall {
  background: url('../images/bg-specials/bg-specials-rent.png');
  background-size: cover;

  h1 {
    top: 100px;
    width: 80%;
    background: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 78%, rgba(0,0,0,0) 100%);
  }

  .specials-content__link-wrap {
    position: absolute;
    top: 230px;
    left: 0;
    width: 80%;
  }
}

.specials-content._discount {
  background: url('../images/bg-specials/bg-specials-discount.png');
  background-size: cover;

  h1 {
    top: 100px;
    width: 80%;
    background: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 78%, rgba(0,0,0,0) 100%);
  }

  .specials-content__link-wrap {
    position: absolute;
    top: 230px;
    left: 0;
    width: 80%;
  }
}

/*---------------------*/
/*   11. Section 9
/*---------------------*/

.section-9 {
  height: 550px;
  background: url('../images/bg-hall/bg-hall.png');

  &[data-bg="_birthday"] { background: url('../images/bg-hall/bg-hall-birthday.png'); }
  &[data-bg="_business"] { background: url('../images/bg-hall/bg-hall-business.png'); }
  &[data-bg="_new-year"] { background: url('../images/bg-hall/bg-hall-new-year.png'); }
  &[data-bg="_party"] { background: url('../images/bg-hall/bg-hall-party.png'); }
  &[data-bg="_wedding"] { background: url('../images/bg-hall/bg-hall-wedding.png'); }
}

.section-9-list {
  position: relative;
  height: 100%;
  width: 400px;
  margin: 0 auto;
  padding-top: 150px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  box-sizing: border-box;

  h1 {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #00BC9A;
  }

  ul {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    margin: 0 auto;
  }

  li {
    display: block;
    padding: 17px 0;
    border-bottom: 1px solid #00BC9A;
    text-align: center;
    text-transform: uppercase;
    color: #fff;

    &:last-of-type {
      border-bottom: 0;
    }

    &:hover,
    &.active {
      color: #00BC9A;
    }
  }
}

/*---------------------*/
/*   12. Section 10
/*---------------------*/

.section-10 {
  padding: 50px 0 70px;
  width: 95%;
  margin: auto;

  .bx-wrapper .bx-controls-direction a {
    height: 110px;
    width: 55px;
  }

  .bx-wrapper .bx-next {
    background: url('../images/slider-next.png') no-repeat;

    &:hover { background: url('../images/slider-next-hover.png') no-repeat; }
  }

  .bx-wrapper .bx-prev {
    background: url('../images/slider-prev.png') no-repeat;

    &:hover { background: url('../images/slider-prev-hover.png') no-repeat; }
  }

  .bx-wrapper .bx-viewport {
    width: 900px !important;
    margin: auto;
    height: auto !important;
  }
}

.clients-slider {
  margin-top: 30px;
}

.clients-slider__item {
  display: table;
  width: 100%;
}

.clients-slider__photo {
  display: table-cell;
  vertical-align: top;
}

.clients-slider__photo-wrap {
  position: relative;
  width: 150px;
  height: 150px;
  border: 1px solid #828692;
  border-radius: 50%;
  overflow: hidden;

  img {
    position: absolute;
    left: -20%;
    height: 100%;
  }
}

.clients-slider__content {
  display: table-cell;
  vertical-align: top;
  padding-left: 30px;
}

.clients-slider__name {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 20px;
  color: #00BE9A;
}

.clients-slider__text {
  font-style: italic;
  font-size: 14px;
}

.clients-slider__date {
  margin-top: 10px;
  text-align: right;
  font-size: 14px;
}


/*---------------------*/
/*   13. Section 11
/*---------------------*/

.section-11 {
  position: relative;
  height: 500px;
  padding: 130px 0 0 0;
  background: url('../images/bg-bottom.png') no-repeat;
  background-size: cover;

  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    font-size: 50px;
    line-height: 60px;
    font-weight: normal;
  }

  .blue-btn {
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;

    a {
      display: inline-block;
      padding: 15px 50px;
      background-color: #00BE9A;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      font-size: 18px;
    }
  }
}

/*---------------------*/
/*   14. Footer
/*---------------------*/

footer {
  padding: 50px 0;
  background: url('../images/separator-grey.png') repeat-x;

  h1.title--grey-bg {
    margin-bottom: 50px;
  }
}

.footer-info {
  margin-top: 30px;
}

.footer__visit-us,
.footer__contact-us {
  float: left;
  margin-right: 50px;

  h1 {
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #00BE9A;
  }
}

.footer-logo {
  float: right;
  margin-right: 200px;
}

.footer-map {
  margin-top: 30px;
  border: 2px solid #C2C4C4;
  border-radius: 5px;
}
